body {
    background-color: black;
}

div {
    width: 50%;
    margin-left: 25%;
    font-family: "Libre Baskerville", serif;
    color: goldenrod;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-style: normal;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
    font-style: italic;
    color: goldenrod;
}

img {
    margin-top: 20px;
    width: 100%;
    border: 5px solid goldenrod;
}